build
.DS_Store
*.mode1v3
*.pbxuser
*.perspectivev3
tvclient.xcodeproj/project.xcworkspace/
tvclient.xcodeproj/xcuserdata/
tvclient.xcodeproj/project.xcworkspace/contents.xcworkspacedata
*.xcuserdatad
*.xcworkspacedata
.DS_Store
*.swp
data/*
tmp/*
sandbox
.build
.coverage
nbproject
*.pid
.git
*.log
*.node
*.lock-wscript
*.tmproj
